<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.happy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Happy">
        <activity android:name=".AddMeetingActivity"></activity>
        <activity android:name=".AddShoppingItemActivity" />
        <activity android:name=".AddCleaningRoomActivity" />
        <activity android:name=".AddNewMemberActivity" />
        <activity android:name=".AddEditBillActivity" />
        <activity android:name=".ShoppingActivity" />
        <activity android:name=".MembersActivity" />
        <activity android:name=".MeetingsActivity" />
        <activity android:name=".CleaningActivity" />
        <activity android:name=".BillsActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".RegisterRepActivity" />
        <activity android:name=".RegisterUserActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".AdsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MyRepActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>